.form {
    margin-top: 20px;
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.input-label {
    color: rgb(232, 218, 218);
}
.hi {
    color: rgb(232, 218, 218);
    margin-top: 10px;
}
input,
textarea {
    background-color: rgb(204, 191, 191);
}
span {
    color: red;
    display: none;
}
input:required:invalid[focused="true"] {
    border: 2px solid red;
}

input:invalid[focused="true"] ~ span{
    display: block;
}
textarea:invalid[focused="true"] ~ .span{
    display: block;
}
textarea:required:invalid[focused="true"] {
    border: 2px solid red;
}
input::placeholder,
textarea::placeholder {
    color: black;
}



