.container {
  margin: 0 2rem;
}
.title {
  margin-top: 60px;
  font-size: 26px;
  text-transform: uppercase;
  color: rgb(232, 218, 218);
}

.text {
  margin-top: 30px;
  font-size: 18px;
}
button {
    margin-top: 40px;
} 
.loading {
  display: flex;
  justify-content: center;
} 
.artwork-description p {
  margin-bottom: 5px;
}
select {
  background-color: rgb(213, 188, 188);
  padding: 5px;
}
.dropdown {
  margin: 20px;
}
option {
  
  color: black;
}


