.navbar {
  background-color: rgb(15, 16, 16);
  min-height: 100%;
}
.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.nav-link {
  color: white;
  padding: 18px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  background: linear-gradient(rgb(243, 240, 240), rgb(244, 241, 241));

  background-size: 0 10%;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: 1s;
}
.nav-link:active {
  color: rgb(159, 196, 232);
}

.nav-link:hover {
  background-size: 100% 10%;
}
.icon {
  width: 15x;
  height: 15px;
}
