.img-container {
    margin-top: 40px;
    width: 350px;
    justify-self: center;
}

.img {
    width: 100%;
    /* height: 350px; */
    object-fit: cover;
   
}
.img-home {
    width: 400px;
    height: 400px;
    object-fit: cover;
}
.artwork-title {
    margin-top: 10px;
}